<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- <bean id = "student" class = "com.seleniumexpress.di.Student">
	<property name="studentName" value="Nikhil Patel"></property>
	<property name="id" value="2"></property>
</bean> -->

<!-- <bean id = "student1" class = "com.seleniumexpress.di.Student">
	<property name="studentName" value="Alay Patel"></property>
	<property name="id" value="1"></property>
</bean> -->

<bean id = "student2" class = "com.seleniumexpress.di.Student">
	<constructor-arg name="studentName" value="jay Patel" type="java.lang.String"></constructor-arg>
	<constructor-arg name="id" value="3" type="int"></constructor-arg>
</bean>
       
<bean id = "student3" class = "com.seleniumexpress.di.Student">
	<constructor-arg name="id" value="4" type="int"></constructor-arg>
</bean>       
        
</beans>